html {
    scroll-behavior: smooth;
}

body {
    background-color: #0f1018;
    width: 100%;
    overflow-x: hidden;
}

main {
    width: 100vw;
}

.img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

/*------------------HEADER--------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: rgba(20,20,20,0.8);
    z-index: 10;
}

.header_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.header_logo {
    display: flex;
    position: relative;
    height: 70%;
    margin-right: auto;
    margin-left: 0.5em;
    align-items: center;
    /*top: 2.5%;*/
    left: 1.5em;
}

.header_logo-image {
    width: 3.2em;
    height: 3em;
}

.header_text {
    position: relative;
    font-family: "Monstserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: white;
    letter-spacing: 0.08em;
    white-space: nowrap;
    margin-left: 0.5em;
    transition: 0.4s ease-in-out;
    z-index: -2;
}

#header_text-link {
    text-decoration: none;
    color: white;
}

.header_text::after {
    content: "Hub";
    color: #3500D3;
    transition: 0.4s ease-in-out;
}

.header_text:hover {
    cursor: default;
    color: #3500D3;
}

.header_text:hover::after {
    color: white;
    cursor: default;
}

.header_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    margin-right: 50px;
    margin-left: 20px;
    text-decoration: none;
    list-style: none;
}

.header_list-item {
    width: auto;
    font-family: 'Monstserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 17px;
    color: white;
    overflow-wrap: break-word;
    white-space: nowrap;
    padding: 15px 15px;
    border-radius: 40px;
    transition: 0.3s ease-out;
}

.header_link {
    color: white;
    text-decoration: none;
}

.header_list-item:hover {
    background-color: #2c009f;
}

.header_list-item:active {
    background-color: #4ebf19;
}

/*---------------------BURGER_MENU-----------------------*/

#burger-toggle {
    display: none;
}

@media only screen and (max-width: 980px) {
    .header_text {
        font-size: 32px;
    }
}

@media screen and (max-width: 850px) {
    .burger-label {
        position: relative;
        margin-right: 35px;
        margin-top: 15px;
        margin-left: 15%;
        display: block;
        height: 40px;
        min-width: 32px;
        min-height: 32px;
        width: 40px;
        z-index: 11;
        scale: 0.8;
    }

    .burger-label::after, .burger-label::before, .burger-label span {
        position: absolute;
        top: 0;
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 20px;
        transition: 0.3s;
    }

    .burger-label::before {
        content: "";
        top: 0;
    }

    .burger-label::after {
        content: "";
        top: 24px;
    }

    .burger-label span {
        position: absolute;
        top: 12px;
    }

    .header_list {
        position: fixed;
        top: -30px;
        right: -400px;
        height: 100%;
        z-index: 10;
        font-size: 23px;
        flex-direction: column;
        justify-content: right;
        flex-wrap: nowrap;
        text-align: center;
        background-color: rgba(5,5,5,0.8);
        padding: 100px 30px 20px 30px;
        transition: 0.3s;
    }

    #burger-toggle:checked ~ .burger-label::after {
        transform: rotate(45deg);
        top: 12px;
    }

    #burger-toggle:checked ~ .burger-label::before {
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger-toggle:checked ~ .burger-label span {
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger-toggle:checked ~ ul.header_list {
        width: 40%;
        display: flex;
        right: -44px;
    }
}

/*---------------------TITLE_SECTION---------------------*/

.title {
    background-image: url(../img/title-background-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgba(9, 0, 41, 0.78);
    background-position: center;
    padding-bottom: 4%;
    z-index: -5;
    min-width: 200px;
}

.title_content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.title_main-name1 {
    font-family: Unbounded, sans-serif;
    color: white;
    text-align: center;
    text-shadow: #0f1018 0 3px 3px;
    font-size: 55px;
    margin: 4em 1em 0 1em;
    transition: .7s ease-in-out;
}

.title_main-name2 {
    font-family: Unbounded, sans-serif;
    color: #5c25ef;
    text-transform: uppercase;
    text-align: center;
    text-shadow: #0f1018 0 3px 3px;
    font-size: 55px;
    margin-top: 0;
    transition: .7s ease-in-out;
}

.title_main-name2:hover {
    font-size: 57px;
    color: #69ff24;
    transition: .5s ease-in-out;
}

.title_text {
    font-family: Monstserrat Alternates, sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: white;
    text-align: center;
    margin: 0 1em 10px 1em;
}

#title_add-text {
    font-weight: 400;
    font-size: 20px;
}

.title_button {
    padding: .6em 1em;
    border-radius: 35px;
    margin: 1em auto 0 auto;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.03em;
    font-family: Unbounded, sans-serif;
    font-weight: 400;
    color: white;
    background-color: rgba(32, 5, 149, 0.7);
    border: 3px solid #ffffff;
    box-shadow: 0 0 20px rgba(44, 0, 159, 0.8);
    transition: 0.3s ease;
    z-index: 0;
}

.title_button:hover {
    background-color: white;
    color: #200595;
}

@media screen and (max-width: 980px) {
    .title {
        padding-bottom: 8%;
    }

    .title_main-name1, .title_main-name2 {
        font-size: 38px;
    }

    .title_main-name2:hover {
        font-size: 42px;
        color: #69ff24;
        transition: .5s ease-in-out;
    }

    .title_text {
        scale: 0.8;
    }

    #title_add-text {
        display: none;
    }

    .title_button {
        padding: .5em .9em;
        scale: 0.75;
        margin-top: 0;
        margin-bottom: .5em;
        font-size: 30px;
    }
}

#rock-logo {
    width: 20%;
    height: 20%;
    min-width: 250px;
    min-height: 250px;
}

/*-------------------FACTS_SECTION--------------------*/

.facts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    width: auto;
    height: auto;
    padding: 0 5%;
    min-width: 200px;
}

.facts_title {
    justify-content: center;
    text-align: center;
    font-size: 35px;
    color: black;
    font-family: Unbounded, sans-serif;
    font-weight: 600;
    margin: .3em .5em;
}

.facts-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.fact_item-text {
    font-family: Nunito, sans-serif;
    height: 70%;
    font-size: 17px;
    color: white;
    text-align: justify;
    margin-top: 15px;
}

.fact_item1 {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 10px 5% 10px 0;
    padding: 25px;
    border: groove 2px black;
    border-radius: 20px;
    background-color: black;
    transition: 0.3s ease;
    overflow: hidden;
}

.fact_item1:hover {
    scale: 1.02;
    box-shadow: 0 0 30px black;
}

#fact_item-img1 {
    max-width: 70%;
    max-height: 70%;
    height: auto;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0 0 7px black;
}

.fact_item2 {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 10px 5%;
    overflow: hidden;

    padding: 25px;
    border-radius: 20px;
    background-color: #270385;
    transition: 0.3s ease;
}

.fact_item2:hover {
    scale: 1.02;
    box-shadow: 0 0 30px black;
}

#fact_item-img2 {
    max-width: 80%;
    max-height: 80%;
    height: auto;
    border-radius: 20px;
    border: 2px solid black;
}

#fact_item-img3 {
    max-width: 80%;
    max-height: 80%;
    height: auto;
    border-radius: 20px;
    border: 2px solid white;
}

#fact_item-img4 {
    max-width: 65%;
    max-height: 65%;
    height: auto;
    border-radius: 20px;
    border: 2px solid black;
}

@media screen and (max-width: 800px) {
    .facts {
        padding: 0 3%;
    }

    .facts_title {
        margin-bottom: .7em;
    }

    .facts-items {
        grid-template-columns: repeat(1, 1fr);
    }

    .fact_item1, .fact_item2 {
        margin: .5em;
        padding: 15px;
    }
}

/*-------------------GOODS_SECTION--------------------*/

.goods {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    height: auto;
    min-width: 200px;
    background-color: #0c0032;
}

.goods_title {
    font-family: Unbounded, sans-serif;
    color: white;
    text-align: center;
    font-size: 35px;
    margin: 1em;
}

.goods_content {
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
}

.goods_catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.catalog-title {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    align-items: center;
    width: 7.2em;
    padding: 0 1em 0 1em;
    background: white;
    border-radius: 10px;
}

#catalog-toggle {
    display: none;
}

.catalog-label {
    position: relative;
    height: 16px;
    width: 30px;
}

.catalog-label::after, .catalog-label::before, .catalog-label span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 20px;
    transition: 0.2s ease;
}

.catalog-label::before {
    content: "";
    top: 0;
}

.catalog-label::after {
    content: "";
    top: 14px;
}

.catalog-label span {
    position: absolute;
    top: 7px;
}

#catalog-toggle:checked ~ .catalog-label::after {
    transform: rotate(50deg);
    top: 7px;
    left: -5px;
}

#catalog-toggle:checked ~ .catalog-label::before {
    display: none;
    transform: rotate(-50deg);
    top: 7px;
    left: 5px;
}

#catalog-toggle:checked ~ .catalog-label span {
    transform: rotate(-50deg);
    top: 7px;
    left: 5px;
}

#catalog-toggle:checked ~ ul.goods_catalog-items {
    visibility: visible;
}

.catalog-title h2 {
    display: inline;
    font-family: Monstserrat Alternates, sans-serif;
    font-weight: 700;
    font-size: 17px;
    color: #131313;
}

.goods_catalog-items {
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 2.2em;
    text-decoration: none;
    list-style: none;
    transition: 0.2s ease;
}

.catalog-item {
    font-family: Monstserrat Alternates, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 10px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: #5c25ef;
    width: 7.5em;
    margin: .5em 0;
    transition: 0.2s ease;
}

.catalog-item:hover {
    background-color: #212121;
}

.goods_items {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.goods_search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .6em;
    height: 2em;
    flex-wrap: wrap;
}

.goods_items label {
    font-family: Ubuntu, sans-serif;
    font-weight: 700;
    color: white;
    font-size: 18px;
    text-wrap: nowrap;
    transition: 0.3s ease;
}

.goods_items label:hover {
    color: #69ff24;
}

.goods_items input {
    min-width: 150px;
    width: 330px;
    height: 30px;
    padding: 1em;
    background-color: rgba(30,30,30,.6);
    border: 3px solid #acacac;
    border-radius: 20px;
    outline: inherit;
    color: white;
    font-family: Unbounded, sans-serif;
    font-size: 15px;
}

.goods_components {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 15px;
}

.goods_component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    min-height: 400px;
    margin: 15px;
    padding: 15px;
    border: 2px solid white;
    background-color: rgba(10,10,10,.5);
    border-radius: 30px;
    transition: 0.2s ease;
}

.goods_component:hover {
    box-shadow: #220483 0 0 20px;
    border: #501cec 2px solid;
    scale: 1.02;
}

.goods_component img {
    max-width: 80%;
    max-height: 80%;
    height: auto;
    border-radius: 10px;
    transition: 0.3s ease;
}

.goods_component h1 {
    font-family: Monstserrat Alternates, sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: white;
    text-wrap: wrap;
    text-align: center;
    padding: 5px;
}

.goods_component p {
    font-family: Monstserrat Alternates, sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #7a7a7a;
    text-align: center;
    margin-bottom: 5px;
}

.goods_component span {
    font-family: LT Superior, sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: white;
    background: rgba(40, 40, 40, 0.7);
    padding: 5px 5px 2px 5px;
    margin: 5px;
    border-radius: 7px;
}

.green-span {
    border: #69ff24 1px solid;
    box-shadow: rgba(78, 191, 25, 0.8) 0 0 6px;
}

.red-span {
    border: #ff2424 1px solid;
    box-shadow: rgba(191, 25, 25, 0.8) 0 0 6px;
}

.goods_component h2 {
    font-family: Rubik, sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: white;
}

@media screen and (max-width: 1300px) {
    .goods_components {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 930px) {
    .goods_components {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 650px) {
    .goods_content {
        flex-direction: column;
        padding: 0 20vw;
    }
    .goods_items {
        align-items: center;
    }
}

@media screen and (max-width: 625px) {
    .goods_catalog-items {
        display: none;
    }
    .goods_component {
        margin: 10px 0;
        scale: 0.95;
    }
    .goods_content {
        flex-direction: column;
        padding: 3%;
    }
    .catalog-title {
        margin-bottom: 15px;
    }
    .goods_components {
        margin-top: 10px;
    }
}

/*-------------------FOOTER--------------------*/

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.footer_content {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer_form {
    position: relative;
    width: 30%;
    min-width: 340px;
    height: auto;
    margin: 2em 3em;
    background-color: #212121;
    /*border: 2px #5cff00 solid;*/
    border-radius: 35px;
}

.footer_form-container {
    padding: 1em;
}

.footer_form-title {
    font-family: Monstserrat Alternates, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-bottom: 1em;
}

.footer_form .input-box {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 35px;
    margin: 15px 20px;
    border: #2c009f 2px solid;
    border-radius: 15px;
    box-shadow: black 0 0 20px;
    transition: 0.3s ease;
}

.footer_form .input-box:hover, .footer_form .input-box:active {
    border-color: #69ff24;
    background-color: #131313;
}

.input-box .input-text {
    font-size: 15px;
    font-family: Unbounded, sans-serif;
    font-weight: 300;
    color: white;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: inherit;
    padding: 8px;
}

.footer_form .remember {
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    margin: 1em 1em;
}

.footer_form-input-checkbox {
    opacity: 0.7;
}

.remember label {
    font-family: Monstserrat Alternates, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
}

.footer_form-button {
    position: relative;
    width: 100%;
    font-family: Monstserrat Alternates, sans-serif;
    font-weight: 600;
    font-size: 20px;
    background-color: #131313;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 8px;
    transition: 0.4s;
}

.footer_form-button:hover {
    background-color: white;
    color: #200595;
}

.footer_form-button:active {
    background-color: white;
    color: #200595;
}

.footer_form .register-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.register-link-text {
    font-family: Unbounded, sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: #acacac;
}

.register-link-text a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.register-link-text a {
    text-decoration: none;
    font-size: 13px;
    color: white;
    font-weight: 600;
}

.register-link-text a:hover {
    text-decoration: underline;
}

.footer_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    column-gap: 2em;
    text-decoration: none;
    list-style: none;
    margin-right: 3%;
}

.footer_list-item {
    color: white;
    font-size: 18px;
    font-family: "Monstserrat Alternates", sans-serif;
    font-weight: 400;
    padding: 10px 15px 0 0;
    transition: 0.4s ease;
    text-wrap: nowrap;
}

.footer_list-item:hover {
    translate: -8px;
}

@media screen and (max-width: 700px) {
    .footer_content {
        flex-direction: column;
    }

    .footer_form {
        scale: 0.9;
    }

    .footer_list {
        align-items: center;
        margin: 0 auto 15px auto;
    }

    .footer_list-item:hover {
        margin-right: 20px;
    }

    .footer_list-item {
        font-size: 13px;
    }
}

/*-------------MODAL----------------*/

.enter-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: rgba(7, 7, 7, 0.9);
    margin: 50px 25px;
    padding: 25px;
    border: 3px solid #cdd3ff;
    width: 70%;
    max-width: 1200px;
    border-radius: 10px;
    position: relative;
}

.modal-content h2 {
    text-align: center;
    font-family: Unbounded, sans-serif;
    color: white;
    font-weight: 600;
    font-size: 30px;
    margin: 10px;
    text-wrap: wrap;
    text-shadow: #131313 0 0 10px;
}

.close-element {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    transition: 0.1s;
}

.close-element:hover{
    color: #7141ff;
    text-decoration: none;
    cursor: pointer;
}

#character-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.character-card {
    width: 250px;
    text-align: center;
    padding: 20px;
    border: 2px solid white;
    background-color: rgba(10,10,10,.5);
    border-radius: 30px;
    transition: 0.2s ease;
}

.character-card:hover {
    box-shadow: #0c6802 0 0 20px;
    border: #31ec1c 2px solid;
    scale: 1.01;
}

.character-card img {
    width: 100%;
    border-radius: 15px;
}

.character-card h3 {
    margin: 10px 0;
    font-size: 1.3em;
    color: white;
    font-family: Monstserrat Alternates, sans-serif;
    font-weight: 700;
}

.character-card p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #aaaaaa;
    font-family: Monstserrat Alternates, sans-serif;
    font-weight: 400;
}

