html {
    scroll-behavior: smooth;
}

body {
    font-family: Onyx, sans-serif;
    background-color: #0f1018;
}

p {
    color: white;
}

button {
    padding: 45px 45px;
    border-radius: 100px;
    background: #f1cdb3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 130%;
    letter-spacing: 0.06em;
    transition: 0.4s ease-in-out;
}

.wrapper {
    position: relative;
    min-height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    font-size: 20px;
    font-family: LT Superior, sans-serif;
    color: white;
    background-color: rgba(20,20,20,0.5);
    text-align: center;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-top: 5px;
}

.header_logo {
    display: flex;
    position: relative;
    /*top: 2.5%;*/
    left: 1.5em;
}

.header_logo-image {
    width: 65px;
    height: 65px;

    position: relative;
    top: 1.5em;
    left: 0;
    margin-right: 10px;
}

.header_logo-text {
    font-family: "LT Superior", sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 0.06em;

    white-space: nowrap;
    position: relative;
    padding-top: 4px;
    padding-left: 10px;
}

.header_nav {
    display: flex;
    position: relative;
}

.header_list {
    display: flex;
    gap: 35px;
    justify-content: right;
    margin-right: 50px;
    margin-left: 20px;
    text-decoration: none;
    list-style: none;
}

.header_list-item {
    color: white;
    white-space: nowrap;
}

.header_link {
    color: white;
    position: relative;
    transition: 0.4s ease-in-out;
    text-decoration: none;
}

.header_link:hover {
    color: yellow;
}

/*---------------------------------------*/

.burger-label {
    display: none;
}

.header-list {
    visibility: hidden;
}

#burger-toggle {
    display: none;
}

@media screen and (max-width: 750px) {
    .burger-label {
        position: relative;
        margin-right: 70px;
        margin-top: 15px;
        margin-left: 90px;
        display: block;
        height: 40px;
        width: 40px;
    }

    .burger-label::after, .burger-label::before, .burger-label span {
        position: absolute;
        top: 0;
        width: 100%;
        height: 5px;
        background-color: white;
        border-radius: 20px;
        transition: 0.3s;
    }

    .burger-label::before {
        content: "";
        top: 0;
    }

    .burger-label::after {
        content: "";
        top: 24px;
    }

    .burger-label span {
        position: absolute;
        top: 12px;
    }

    .header_list {
        display: none;
        position: fixed;
        top: 80px;
        right: 0;
        z-index: -1;
        font-size: 23px;
        flex-direction: column;
        justify-content: right;
        text-align: center;
        background-color: rgba(5,5,5,0.9);
        padding: 30px;

    }

    #burger-toggle:checked ~ .burger-label::after {
        transform: rotate(45deg);
        top: 12px;
    }

    #burger-toggle:checked ~ .burger-label::before {
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger-toggle:checked ~ .burger-label span {
        transform: rotate(-45deg);
        top: 12px;
    }

    #burger-toggle:checked ~ ul {
        transition: 0.3s;
        visibility: visible;
        display: flex;
    }
}

/*-----------------------------------------------*/

.form {
    width: 100%;
    height: 600px;
    position: relative;
    z-index: -1;
    display: block;
    padding: 5em 0 4em;
    background-image: url(img/title-background-image.jpg);/
    background-size: cover;
    background-blend-mode: color-dodge;
    background-color: rgba(0, 0, 0, 0.5);
}

.form_container {
    min-width: 400px;
}

.registration_fieldset {
    display: block;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    height: auto;
    width: 40%;

    background-color: rgba(0, 0, 0, 0.8);
    background-image: url("img/registration.webp");
    background-size: cover;
    background-position: 0 0;
    background-blend-mode: color-dodge;
    border: aliceblue solid 3px;
    border-spacing: 5px;
}

.registration_legend {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 45px;
    position: relative;
    margin: auto;
    padding: 10px 10px;
    display: flex;
}

.registration_label {
    font-family: "LT Superior", sans-serif;
    font-size: 20px;
}

.registration_label-radio {
    display: inline-block;
    font-size: 15px;
}

.registration_input {
    margin-left: 10px;
    height: 1.5em;
    font-family: 'Bahnschrift Light', sans-serif;
    font-size: 17px;
}

.registration-button {
    margin: 2em auto 1em auto;
    cursor: pointer;
    padding: 13px 16px 13px 16px;
    background-color: white;

    color: #0f1018;
    font-size: 18px;
    font-family: 'Bahnschrift', sans-serif;
    letter-spacing: normal;
    font-weight: bolder;

    transition: 0.1s ease-in;
}

.registration-button:hover {
    background-color: chartreuse;
}

/*---------------------------------------------*/

footer {
    border-top: 2px solid white;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}

.footer_content {
    display: grid;
    width: 100%;
    position: absolute;
    background-image: url(img/rock-footer.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-blend-mode: color-dodge;
    padding-bottom: 2em;
}

.footer_list {
    display: flex;
    flex-direction: column;
    column-gap: 60px;
    text-decoration: none;
    list-style: none;
    margin-left: 50px;
}

.footer_list-item {
    text-align: right;
    color: white;
    font-size: 22px;
    font-family: "LT Superior", sans-serif;
    font-weight: bold;
    padding: 10px 15px 0 0;
}
